@{
    ViewData["Title"] = "Reservation";
    Layout = "../Shared/_templateSiteLayout.cshtml";
}




<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url(/img/slider_1.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="/img/curve_white.svg" class="seperator probootstrap-animate" alt=""></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Book A Room</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">
                                “All great achievements require time.”– Maya Angelou
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <div class="col-md-8">
                <h2 class="mt0">Reservation Form</h2>
                <form action="#" method="post" class="probootstrap-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" readonly class="form-control" id="fname" name="fname" value="@ViewData["FirstName"]">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" readonly class="form-control" id="lname" name="lname" value="@ViewData["LastName"]">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Regular">Reservation Type</label><br />
                        <input type="radio" checked value="Regular" name="reservationType" />
                        <label for="Regular">Regular</label>
                        <input type="radio" value="Repeated" name="reservationType" />
                        <label for="Repeated">Repeated</label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-arrival">Time</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" autocomplete="off" class="form-control" id="dateTime" onfocus="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="room">Duration</label>
                                <div class="form-field">
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="duration" id="duration" class="form-control">
                                        <option selected disabled value="">Select a Duration</option>
                                        <option value="40">40 min</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="room">Room</label>
                                <div class="form-field">
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="room" id="room" class="form-control">
                                        <option disabled selected value="">Select a Room</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="button" class="btn btn-primary btn-lg" id="submit" name="submit" value="Reserve">
                    </div>
                </form>
            </div>

            <div class="col-md-4" id="divSuggestion">
                <h4>Algorithm Found These Free Time For Your</h4>
                <table class="table table-bordered" id="tblFreeRoomSuggestion">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyFreeRoomSuggestion" style="height:250px; overflow-y:scroll;"></tbody>
                </table>
            </div>
        </div>
        </div>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url(/img/garden.jpeg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Haileybury <font color="yellow">Wellbeing Centre</font></h2>
            <p><img src="/img/curve_white.svg" class="seperator" alt="Wellbeing Centre"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>“We all have our time machines. Some take us back, they’re called memories. Some take us forward, they’re called dreams.”– Jeremy Irons</p>
                </div>
                <div class="col-md-6">
                    <p>“My favorite things in life don’t cost any money. It’s really clear that the most precious resource we all have is time.”– Steve Jobs</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>


@section Stylesheets{
    <link href="~/Datepicker/css/datepicker.material.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Datepicker/datepicker.js"></script>
    <script>
    $(function () {
        $('#dateTime').datetimepicker({
            //minDate: 0,
            numberOfMonths: 2,
            changeMonth: true,
            changeYear: true,
            useSeconds: false,
            stepMinute: 5,
            showOn: 'focus',
            onClose: function () { LoadRoom();  }
        });
        $('#duration').on('change', function () {
                LoadRoom();
        });
        $('#submit').on('click',function(){
            var obj = {
                name : $('#fname').val() + ' ' + $('#lname').val(),
                date : $('#dateTime').val(),
                duration : $('#duration').val(),
                roomId : $('#room').val(),
                repeated : $("input[name='reservationType']:checked").val()
            }
            if(obj.name == " "){
                toastr.info("Name is required");
                return;
            }
            if(obj.date == ""){
                toastr.info("Time is required");
                return;
            }
            if(obj.duration == null){
                toastr.info("Duration is required");
                return;
            }
            if(obj.roomId == ""){
                toastr.info("Room is required");
                return;
            }
              $.ajax({
            type: 'POST',
            url: '/Member/Reserve',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: obj,
            success: function (result) {
                if (result == false) {
                    toastr.error("Reservation Faild");
                    return;
                }
                else if (result == "Session Out") {
                    window.location = '/Home/GoogleLogin';
                    return;
                }
                else {
                    toastr.success("Success");
                    window.location = '/Member/Index';
                    return;
                }
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
        });
        $("#divSuggestion").hide();
    });
    function LoadRoom() {
        var startDate = $('#dateTime').val();
        var duration = $('#duration').val();
        var reservationType = $('input[name="reservationType"]:checked').val();

        if (startDate == null || duration == null || startDate == "" || duration == "") {
            var html = '<option disabled selected value="">Select a Room</option>'
            $('#room').empty();
            $('#room').append(html);
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/Member/LoadRoom',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: {
                startDate: startDate,
                duration: duration,
                reservationType: reservationType
            },
            success: function (result) {
                var html = '<option value="">Select a Room</option>'
                if (result == null) {
                    toastr.error("Room Load Faild");
                    return;
                }
                else {
                    toastr.success("Success");
                    result.forEach(element => {
                        if(element.isFree==false){
                            html = html + '<option style="color:red" disabled value="' + element.roomId + '"> <del>' + element.roomName +' </del></option>'

                        }
                        else
                            html =  html + '<option value="' + element.roomId + '">'+ element.roomName +'</option>'
                    });
                    if (reservationType == "Repeated") { $("#divSuggestion").show(); FreeRoomSuggestion(startDate, duration); }
                }
                $('#room').empty();
                $('#room').append(html);
                //result
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
    function formateDate(date) {
        //date = new Date(2021, 12, 25, 6, 0, 0);
        return [date.getMonth() + 1,
        date.getDate(),
        date.getFullYear()].join('/') + ' ' +
            [date.getHours(),
            date.getMinutes(),
            date.getSeconds()].join(':');
        }
    function FreeRoomSuggestion(startDate, duration) {

        html = "";
        $("#tbodyFreeRoomSuggestion").empty();
        $.ajax({
            type: 'POST',
            url: '/Member/FreeRoomSuggestion',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: {
                startDate: startDate,
                duration: duration
            },
            success: function (result) {                
                console.log(result);
                if (result != null) {
                    result.forEach(function (item) {
                        html += "<tr><td>" + item.fromDate + "</td><td>" + item.fromTime + " - " + item.toTime + "</td><td>" + item.roomName + "</td></tr>";
                    });
                    $("#tbodyFreeRoomSuggestion").append(html);
                }
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }

    </script>
}
